html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    box-sizing: border-box;
}

canvas {
    display:block;
}

.overlay {
    align-items: flex-start;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.hud {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 25px;
}

.boxed {
    border: 1px solid black;
    padding: 0 10px;
}

/* Prevent clicking from highlighting text */
span, p {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}