html, body {
  background-color: black;
  box-sizing: border-box;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

.gameUi {
  cursor: crosshair;

  /* Prevent clicking from highlighting text */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -ms-user-select: none; /* IE10+ */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
}

main {
  box-sizing: border-box;
  height: 100vh;
}

canvas {
  display: block;
}

.title {
  font-weight: 500;
}

h4 {
  margin: 0;
}

a {
  color: whitesmoke;
}

.footer-url {
  position: fixed;
  bottom: 30px;
}

a:hover, a:focus {
  /* Player one's color */
  color: #FF5733;
}

.overlay {
  align-items: flex-start;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.announce {
  font-size: 3em;
}

.toast {
  display: none;
  align-items: flex-start;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.toast.show {
  display: flex;
  -webkit-animation: fadein 1.5s, fadeout 1.5s 2.5s;
  animation: fadein 1.5s, fadeout 1.5s 2.5s;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to { opacity: 0; }
}

.hud {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  justify-content: space-between;
  padding: 10px 25px;
  width: 100%;
  /* provides an outline on text, so its still visible
  when passing over lighter colors like obstacles */
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.boxed {
  border: 1px solid whitesmoke;
}

.side-pad {
  padding: 0 10px;
}

.menu-item {
  display: flex;
  width: 75%;
  margin: 10px 0 20px 0;
  padding: 10px 0;
  flex-direction: column;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column input {
  width: 200px;
}

#inputGameCode {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: transparent;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  height: 25px;
  margin-top: 5px;
  width: 196px; /* 200px - border and padding */
}

.checkboxLabel {
  display: flex;
  width: 200px;
  padding: 10px 0;
}

#privateGame {
  -webkit-appearance: none;
  border: 1px solid whitesmoke;
  width: 12px;
}

#privateGame:checked {
  background: whitesmoke;
}

input:focus {
  outline: none;
}

label {
  width: 150px;
}

.screen {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.menu {
  align-items: center;
  background-color: #000;
  border: 1px solid #4a4a4a;
  display: flex;
  flex-flow: column;
  font-family: 'Courier New', Courier, monospace;
  height: 50%;
  justify-content: center;
  width: 50%;
  padding: 0 0 20px 0;
  max-width: 600px;
  min-height: 650px;
}

.btn {
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
  background-color: #000;
  /* Alternative
  color: #000;
  background-color: whitesmoke;
  */
  font-size: 15px;
  height: 40px;
  width: 100px;
  margin-bottom: 5px;
}

#btnStartGame {
  width: 200px;
}

.btn:hover, .btn:focus {
  /* Player one's color */
  color: #FF5733;
  border: 1px solid #FF5733;
}

.pad-top {
  margin-top: 20px;
}

.hidden {
  display: none;
}